flows.json
[{"id":"64ed7794.516208","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"78e92c6d.c40764","type":"mqtt in","z":"64ed7794.516208","name":"ReadLux","topic":"/1R1/014/luminosity/data","qos":"2","datatype":"json","broker":"6a3d0c3a.143a14","x":180,"y":640,"wires":[["93819af1.7bdbf8"]]},{"id":"ec8b11f3.d14e8","type":"mqtt in","z":"64ed7794.516208","name":"ReadLamp","topic":"/1R1/014/lamp/data","qos":"2","datatype":"json","broker":"6a3d0c3a.143a14","x":180,"y":580,"wires":[["b679a0e5.4b018"]]},{"id":"7beef212.20464c","type":"mqtt in","z":"64ed7794.516208","name":"ReadPresence","topic":"/1R1/014/presence/data","qos":"2","datatype":"json","broker":"6a3d0c3a.143a14","x":200,"y":460,"wires":[["9f059ab7.a8bf58"]]},{"id":"3a078cb6.94b184","type":"mqtt in","z":"64ed7794.516208","name":"ReadTemperature","topic":"/1R1/014/temperature/data","qos":"2","datatype":"json","broker":"6a3d0c3a.143a14","x":210,"y":700,"wires":[["e7ff82a.4e9728"]]},{"id":"1869d218.c1538e","type":"mqtt in","z":"64ed7794.516208","name":"ReadShutters","topic":"/1R1/014/shutters/data","qos":"2","datatype":"json","broker":"6a3d0c3a.143a14","x":190,"y":520,"wires":[["1e92df08.6de6e1"]]},{"id":"93819af1.7bdbf8","type":"function","z":"64ed7794.516208","name":"SaveLux","func":"global.set('lux', parseInt(msg.payload.value))\nflow.set('idx', 3)\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["a2c69ea2.1e7cb"]]},{"id":"b679a0e5.4b018","type":"function","z":"64ed7794.516208","name":"SaveLamp","func":"global.set('lamp', (msg.payload.value == \"True\")?true:false);\nflow.set('idx', 2)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["a2c69ea2.1e7cb"]]},{"id":"e7ff82a.4e9728","type":"function","z":"64ed7794.516208","name":"SaveTemperature","func":"global.set('temp', parseFloat(msg.payload.value));\nflow.set('idx', 4)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":700,"wires":[["a2c69ea2.1e7cb"]]},{"id":"1e92df08.6de6e1","type":"function","z":"64ed7794.516208","name":"SaveShutters","func":"global.set('shutters', (msg.payload.value.status));\nmsg.payload.value = msg.payload.value.status\nflow.set('idx', 5)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["a2c69ea2.1e7cb","eb463984.2a5588"]]},{"id":"9f059ab7.a8bf58","type":"function","z":"64ed7794.516208","name":"SavePresence","func":"global.set('presence', msg.payload.value);\nflow.set('idx', 1)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":460,"wires":[["a2c69ea2.1e7cb","eb463984.2a5588"]]},{"id":"564b3f35.2e28","type":"change","z":"64ed7794.516208","name":"Prepare for MQTT","rules":[{"t":"set","p":"payload.nvalue","pt":"msg","to":"nvalue","tot":"flow"},{"t":"set","p":"payload.svalue","pt":"msg","to":"svalue","tot":"flow"},{"t":"set","p":"payload.idx","pt":"msg","to":"idx","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[["e9d63ec2.f559e"]]},{"id":"a2c69ea2.1e7cb","type":"function","z":"64ed7794.516208","name":"nvalue & svalue","func":"// Numeric Value\nif (msg.payload.value == \"True\" || msg.payload.value == \"Fase\")\n    flow.set('nvalue', (msg.payload.value == \"True\")?1:0);\nelse\n    flow.set('nvalue', parseFloat(msg.payload.value));\nflow.set('svalue', msg.payload.value); // String value\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":560,"wires":[["564b3f35.2e28"]]},{"id":"e9d63ec2.f559e","type":"mqtt out","z":"64ed7794.516208","name":"DomoticzIN","topic":"domoticz/in","qos":"","retain":"","broker":"6a3d0c3a.143a14","x":1030,"y":620,"wires":[]},{"id":"63a5c298.86b0ac","type":"comment","z":"64ed7794.516208","name":"Save data","info":"","x":180,"y":400,"wires":[]},{"id":"cef0abe2.d69d48","type":"comment","z":"64ed7794.516208","name":"Act on presence","info":"","x":200,"y":80,"wires":[]},{"id":"eb463984.2a5588","type":"switch","z":"64ed7794.516208","name":"Is presence detected?","property":"presence","propertyType":"global","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":240,"wires":[["c32c143.6272ce8"],["80590828.32c838","aa13bd46.e9981"]]},{"id":"80590828.32c838","type":"change","z":"64ed7794.516208","name":"LightOFF","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"order","tot":"str"},{"t":"set","p":"payload.order","pt":"msg","to":"switch","tot":"str"},{"t":"set","p":"payload.value","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"payload.uID","pt":"msg","to":"all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["ac6144b7.cfa818"]]},{"id":"159007d9.48f448","type":"change","z":"64ed7794.516208","name":"LightON","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"order","tot":"str"},{"t":"set","p":"payload.order","pt":"msg","to":"switch","tot":"str"},{"t":"set","p":"payload.value","pt":"msg","to":"on","tot":"str"},{"t":"set","p":"payload.uID","pt":"msg","to":"all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":200,"wires":[["ac6144b7.cfa818"]]},{"id":"ac6144b7.cfa818","type":"mqtt out","z":"64ed7794.516208","name":"Lamp Orders","topic":"/1R1/014/lamp/orders","qos":"","retain":"","broker":"6a3d0c3a.143a14","x":1190,"y":260,"wires":[]},{"id":"aa13bd46.e9981","type":"change","z":"64ed7794.516208","name":"Shutters Down","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"order","tot":"str"},{"t":"set","p":"payload.order","pt":"msg","to":"down","tot":"str"},{"t":"set","p":"payload.uID","pt":"msg","to":"all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["8fad846b.eb4ac8"]]},{"id":"8fad846b.eb4ac8","type":"mqtt out","z":"64ed7794.516208","name":"Shutters Orders","topic":"/1R1/014/shutters/orders","qos":"","retain":"","broker":"6a3d0c3a.143a14","x":1200,"y":320,"wires":[]},{"id":"566f9840.420ce8","type":"change","z":"64ed7794.516208","name":"Shutters UP","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"order","tot":"str"},{"t":"set","p":"payload.order","pt":"msg","to":"up","tot":"str"},{"t":"set","p":"payload.uID","pt":"msg","to":"all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":60,"wires":[["8fad846b.eb4ac8","7341a48f.c67e9c"]]},{"id":"c32c143.6272ce8","type":"switch","z":"64ed7794.516208","name":"Is luminosity sufficient?","property":"lux","propertyType":"global","rules":[{"t":"lte","v":"400","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":60,"wires":[["5433c440.af464c"]]},{"id":"7341a48f.c67e9c","type":"delay","z":"64ed7794.516208","name":"Wait shutters to open","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":120,"wires":[["5982a64a.ab49b8"]]},{"id":"9aea3194.234ba","type":"mqtt out","z":"64ed7794.516208","name":"Lux Orders","topic":"/1R1/014/luminosity/orders","qos":"","retain":"","broker":"6a3d0c3a.143a14","x":1390,"y":180,"wires":[]},{"id":"5982a64a.ab49b8","type":"change","z":"64ed7794.516208","name":"Report status","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"order","tot":"str"},{"t":"set","p":"payload.order","pt":"msg","to":"status","tot":"str"},{"t":"set","p":"payload.uID","pt":"msg","to":"all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":180,"wires":[["9aea3194.234ba"]]},{"id":"5433c440.af464c","type":"switch","z":"64ed7794.516208","name":"Are shutters open?","property":"shutters","propertyType":"global","rules":[{"t":"eq","v":"between","vt":"str"},{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"up","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":60,"wires":[["566f9840.420ce8"],["566f9840.420ce8"],["159007d9.48f448"]]},{"id":"6a3d0c3a.143a14","type":"mqtt-broker","z":"","name":"LocalBroker","broker":"172.16.71.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]